body{
    background-color: #181818;
    font-family: "Lexend", sans-serif;
    margin: 0;
    min-height: 80vh;
}

html{
    color: white;
    text-align: center;
    font-family: "Lexend", sans-serif;
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    padding: 4px;
    background-color: #212121;
    border-bottom: 2px solid #828282;
    font-family: "Lexend", sans-serif;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: #212121;
    border-top: 2px solid #828282;
    font-family: "Lexend", sans-serif;
}

button{
    font-family: "Lexend", sans-serif;
    background-color: #212121;
    color: white;
    align-items: center;
    justify-content: center;
    width: 90px;
    border: 0px;
    margin-bottom: 0px;
}

form{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 360px;
}

label.error{
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    color: #ff0000;
}

#white{
    filter: invert(1);
}

#left{
    text-align: left;
}

#nav-button{
    color: white;
    font-size: 48px;
}
#nav-button:hover{
    color: #FF7F37;
}
#nav-button-active{
    color: #FF7F37;
    font-size: 48px;
}

#blue{
    color:blue;
}

#signup{
    background-color: #FF7F37;
    width: 250px;
    height: 32px;
    border-radius: 5px;
}

#login{
    background-color: #828282;
    width: 250px;
    height: 32px;
    border-radius: 5px;
}

ul{
    list-style: none;
}

li{
    margin: 16px;
}

.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }

.input_container{
    width: 100%;
    padding: 0px;
}
.input_container .input-row{
    margin-top: 12px;
}
.input_container select{
    resize: none;
    width: 90%;
    height: 28px;
    margin: 0 0 3px;
    background-color: #212121;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #828282;
    outline: 0;
}
input[type="checkbox"] {
    transform: scale(3); /* Increase the size of the checkbox */
    margin-top: 12px;
}
.input_container input:not([type="submit"]){
    width: 80%;
    margin: 0 0 3px;
    background-color: #212121;
    color: #ffffff;
    padding: 10px 15px;
    height: 8px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #828282;
    outline: 0;
}
.input_container input:not([type="submit"]):focus,
.input_container select:focus{
    border-color: #FF7F37;
}

*::-webkit-input-placeholder{
    opacity: 1;
    color: #828282;
}

.tyc{
    font-size: 12px;
}

/*
Background: #181818
Base: #212121
Base Stroke: #828282
Highlight: #FF7F37
Primary Text: #FFFFFF
Secondary Text: #CACACA